version: "3.9"  # modern Compose version, safe to keep

services:
  chowdown:
    image: jekyll/jekyll
    platform: linux/amd64  # needed for Apple Silicon
    container_name: recipe-finder
    restart: always
    command: jekyll serve --force_polling
    ports:
      - "4000:4000"
    volumes:
      - .:/srv/jekyll             # mount project root
      - ./_components:/srv/jekyll/_components
      - ./_images:/srv/jekyll/_images
      - ./_posts:/srv/jekyll/_posts
      - ./_recipes:/srv/jekyll/_recipes
      - ./functions:/srv/jekyll/functions
